#!/usr/bin/env bash

use flake

# Add venv bin to PATH so development tools can be invoked more easily
PATH_add .venv/bin

# Add src to PYTHONPATH so Python and tools can find imports correctly
path_add PYTHONPATH src

# Add venv site packages to PYTHONPATH so imports work
path_add PYTHONPATH ".venv/$NIX_PYTHON_SITE_PACKAGES"

# Make pip use the venv (useful for ad-hoc temporary package installation)
PIP_PREFIX="$(expand_path .)/.venv"
export PIP_PREFIX
export PIP_IGNORE_INSTALLED=1

# These are annoying so stuff them all in one place
PYTHONPYCACHEPREFIX="$(expand_path .)/.pycache"
export PYTHONPYCACHEPREFIX
